$Color-Blumine: #1c4a74;
$Color-Botticelli-B: #d1dbe7;
$Color-Botticelli: #c5d3e4;
$Color-Concrete: #f3f3f3;
$Color-DoveGray: #636262;
$Color-DustyGray: #979797;
$Color-HippieBlue: #4d8dac;
$Color-MineShaft: #3b3b3b;
$Color-PigeonPost: #adc1d8;
$Color-PigeonPost-B: #a6bbd3;
$Color-PoloBlue: #84afcb;
$Color-SanMarino: #4573a5;
$Color-Scorpion: #5f5d5d;
$Color-SilverChalice: #b1b1b1;
$Color-Solitude: #e6f1ff;
$Color-StTropaz: #2a5f91;
$Color-WildSand: #f5f5f5;
