@import 'FromFontBase';

$iconCalendar: (
  "Path": "M160 374.857h128v-128h-128v128zM160 182.857h128v-128h-128v128zM352 566.857h128v-128h-128v128zM352 374.857h128v-128h-128v128zM352 182.857h128v-128h-128v128zM544 566.857h128v-128h-128v128zM544 374.857h128v-128h-128v128zM736 566.857h128v-128h-128v128zM736 374.857h128v-128h-128v128zM704 950.857h64v-192h-64v192zM256 950.857h64v-192h-64v192zM832 838.857v-144h-192v144h-256v-144h-190.4l-1.6 144h-192v-912h1024v912h-192zM960-9.143h-896v640h896v-640z",
);

$iconGear: (
  "Path": "M1019.2 526.857c-3.2 4.8-8 8-12.8 8l-121.6 19.2c-6.4 17.6-14.4 40-27.2 65.6 8 11.2 19.2 27.2 35.2 48s27.2 35.2 33.6 43.2c3.2 4.8 4.8 11.2 4.8 16 0 14.4-38.4 57.6-115.2 128-4.8 4.8-11.2 6.4-17.6 6.4s-11.2-1.6-16-4.8l-94.4-72c-22.4 11.2-41.6 19.2-60.8 24l-19.2 123.2c0 4.8-3.2 9.6-8 14.4-3.2 3.2-8 4.8-12.8 4.8h-148.8c-12.8 0-20.8-6.4-24-19.2-6.4-24-12.8-65.6-19.2-123.2-22.4-8-43.2-16-60.8-25.6l-92.8 72c-4.8 3.2-11.2 4.8-16 4.8-9.6 0-32-16-64-46.4-32-32-54.4-56-65.6-72-3.2-4.8-4.8-9.6-4.8-16 0-4.8 1.6-9.6 4.8-16 30.4-35.2 54.4-67.2 72-92.8-11.2-22.4-19.2-41.6-25.6-60.8l-124.8-19.2c-4.8 0-9.6-3.2-12.8-8s-4.8-9.6-4.8-14.4v-147.2c0-6.4 1.6-11.2 4.8-16 4.8-4.8 9.6-8 14.4-8l121.6-19.2c6.4-20.8 16-41.6 28.8-65.6-9.6-11.2-22.4-27.2-38.4-48s-27.2-35.2-32-43.2c-3.2-4.8-4.8-11.2-4.8-16 0-14.4 38.4-57.6 115.2-128 4.8-4.8 11.2-6.4 17.6-6.4s12.8 1.6 16 4.8l94.4 72c22.4-11.2 41.6-19.2 60.8-24l19.2-123.2c0-4.8 3.2-9.6 8-14.4 4.8-3.2 9.6-6.4 16-6.4h148.8c12.8 0 20.8 6.4 24 19.2 6.4 25.6 12.8 65.6 19.2 124.8 20.8 6.4 41.6 14.4 60.8 24l92.8-72c4.8-3.2 11.2-4.8 16-4.8 9.6 0 30.4 16 62.4 48s54.4 56 65.6 72c3.2 3.2 4.8 9.6 4.8 16 0 4.8-1.6 11.2-4.8 16-30.4 35.2-54.4 67.2-72 92.8 11.2 22.4 19.2 41.6 25.6 60.8l124.8 19.2c4.8 0 9.6 3.2 12.8 8s4.8 9.6 4.8 16v147.2c-3.2 4.8-4.8 9.6-8 14.4zM512 214.857c-123.2 0-224 100.8-224 224s100.8 224 224 224 224-100.8 224-224-100.8-224-224-224z",
);

$iconSearch: (
  "Path": "M658.286 475.428q0 105.714-75.143 180.857t-180.857 75.143-180.857-75.143-75.143-180.857 75.143-180.857 180.857-75.143 180.857 75.143 75.143 180.857zM950.857 0q0-29.714-21.714-51.429t-51.429-21.714q-30.857 0-51.429 21.714l-196 195.429q-102.286-70.857-228-70.857-81.714 0-156.286 31.714t-128.571 85.714-85.714 128.571-31.714 156.286 31.714 156.286 85.714 128.571 128.571 85.714 156.286 31.714 156.286-31.714 128.571-85.714 85.714-128.571 31.714-156.286q0-125.714-70.857-228l196-196q21.143-21.143 21.143-51.429z",
  "ViewBoxWidth": 951,
);

$iconChevronViewBoxWidth: 731;
$iconChevronLeft: (
  "Path": "M669.143 778.857l-303.429-303.429 303.429-303.429q10.857-10.857 10.857-25.714t-10.857-25.714l-94.857-94.857q-10.857-10.857-25.714-10.857t-25.714 10.857l-424 424q-10.857 10.857-10.857 25.714t10.857 25.714l424 424q10.857 10.857 25.714 10.857t25.714-10.857l94.857-94.857q10.857-10.857 10.857-25.714t-10.857-25.714z",
  "ViewBoxWidth": $iconChevronViewBoxWidth,
);
$iconChevronRight: (
  "Path": "M632.571 449.714l-424-424q-10.857-10.857-25.714-10.857t-25.714 10.857l-94.857 94.857q-10.857 10.857-10.857 25.714t10.857 25.714l303.429 303.429-303.429 303.429q-10.857 10.857-10.857 25.714t10.857 25.714l94.857 94.857q10.857 10.857 25.714 10.857t25.714-10.857l424-424q10.857-10.857 10.857-25.714t-10.857-25.714z",
  "ViewBoxWidth": $iconChevronViewBoxWidth,
);

@mixin BgIconCalendarPlaced($color, $rect) {
  @include BgIconFromFontPlaced($iconCalendar, $color, $rect);
}

@mixin BgIconGearPlaced($color, $rect) {
  @include BgIconFromFontPlaced($iconGear, $color, $rect);
}

@mixin BgIconSearchPlaced($color, $rect) {
  @include BgIconFromFontPlaced($iconSearch, $color, $rect);
}

@mixin BgIconChevronLeft($color) {
  @include BgIconFromFont($iconChevronLeft, $color);
}

@mixin BgIconChevronRight($color) {
  @include BgIconFromFont($iconChevronRight, $color);
}
